*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    margin:  0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    text-align: center;
}
.desc{
    margin: 5px 0 ;
border-bottom: 1px solid ;
}
.author{
    font-size: 14px;
    margin-bottom: 10px;
}
.even{
    display: inline-block;
    background-color: #03C988;
    color: #fff;
    padding: 10px 10px;
    margin-bottom: 5px;
}
.odd{
    display: inline-block;
    background-color: #FC2947;
    color: #fff;
    padding: 10px 10px;
    margin-bottom: 5px;
}
.box{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.item{
    padding: 15px 30px ;
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
ul{
    list-style: none;
}

.green{
    background-color: #03C988;
}
.yellow{
    background-color: #FFEA20;
}
.red{
    background-color: #FC2947;
}

@media (max-width: 720px) {
    .box {
         grid-template-columns: repeat(3, 1fr);
         }
    .item{
        background-color: brown;
        padding: 10px 0px ;
        margin: 0 auto;
        width: 80%;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }
  }
@media (max-width: 640px) {
    .box {
         grid-template-columns: repeat(2, 1fr);
     }
     .item{
        background-color: brown;
        padding: 5px 0px;
        margin: 0 auto;
        width: 80%;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }
  }
  @media (max-width: 601px) {
    .box { grid-template-columns: repeat(1, 1fr); }
    .item{
        background-color: brown;
        margin: 0 auto;
        width: 80%;
        padding: 5px 0px ;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }
  }